@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
	margin:0px;
	padding: 0;
}

html,body{
	height:100%;
	width: 100%;
}

section{
	height:100%;
	width: 100%;
}

.card{
	position: static;
	display: block;
	width: 100%;
	height:100vh;
}

#druid_card{background-image: url("../img/cards/druid.jpg");background-repeat: no-repeat;background-size: cover; background-position: center;}
#hunter_card{background-image: url("../img/cards/hunter.jpg");background-repeat: no-repeat;background-size: cover; background-position: center;}
#mage_card{background-image: url("../img/cards/mage.jpg");background-repeat: no-repeat;background-size: cover; background-position: center;}
#paladin_card{background-image: url("../img/cards/paladin.jpg");background-repeat: no-repeat;background-size: cover; background-position: center;}
#priest_card{background-image: url("../img/cards/priest.jpg");background-repeat: no-repeat;background-size: cover; background-position: center;}
#rogue_card{background-image: url("../img/cards/rogue.jpg");background-repeat: no-repeat;background-size: cover; background-position: 100% 100%;}
#shaman_card{background-image: url("../img/cards/shaman.jpg");background-repeat: no-repeat;background-size: cover; background-position: center;}
#warlock_card{background-image: url("../img/cards/warlock.jpg");background-repeat: no-repeat;background-size: cover; background-position: center;}
#warrior_card{background-image: url("../img/cards/warrior.jpg");background-repeat: no-repeat;background-size: cover; background-position: center;}


.container{
	position:relative;
	top:5%;
	left:3%;	
	max-width: 94%;
	height:90%;
	border-radius: 60px;
	overflow: auto;
	background:rgba(0,0,0,.6);	
}

.container img{
	position: relative;
	margin:25px 25px;
	width:96px;
	height: auto;
	transition: .5s;
}
.container h1{
	position:absolute;
	top:6%;
	left:8%;
	font-family: 'poppins', sans-serif;
	font-size: 2.2em;
	color: #fff;
	text-shadow: 1px 1px 1px #000000;
    transition: .5s;
}

.container .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
.container .swiper-slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 41.5vw;
      height: 50vh;
    }   

.container .swiper-slide p{
	position: absolute;
	top:-8%;
	left:1%;
}

.container .swiper-slide .link{
     text-decoration: none;
     color: #fff;
     text-shadow: 1px 1px 1px #000;
     font-size:1.5em;
    }

/* Leveling */


#leveling{
	background: url("../img/lvl-bg.jpg") no-repeat;	
	background-size: cover;
	height:100%;	
}

.body h2{
	font-family: 'poppins', sans-serif;
	font-weight: 800;
	color: #fff;
	margin-left:1em;
}

.body ul{
    margin:1em 0; 
}

.body ul .aviso{	
	color: Red;
}

.body ul li{
	font-family: 'poppins', sans-serif;
	font-size: 1.2em;
	color: #fff;
    line-height: 1.7em;
	margin-left: 2em;
}

.body ul li a{
	text-decoration: none;
	color: #ffd100;		
}

.body ul li a:hover{
	color: #5dade2;
}

.footer p{
    text-align: center;
    font-family: 'poppins', sans-serif;
	font-size: .9em;
	font-weight: lighter;
	color: #fff;
}

.footer a{
	text-decoration: none;
	color: #ffd100;	
}

.footer a:hover{
	color: #5dade2;
}

.container img{
    left:50%;
    margin:25px 0px;
    transform:translate(-50%, 0);}

.container .swiper-container {
    position: relative;
    top: 10%;}    
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


/* Responsivity */

@media only screen and (max-width:1619px){
.container h1{	
	left:10%;}
}

@media only screen and (max-width: 1169px){
.container h1{	
	left:20%;}
}

@media only screen and (max-width: 600px){
.container h1{
	top:16%;}

@media only screen and (max-width:480px){
    .container img{
    	position: absolute;
    	top:0px;
    	left:60px;    	
    }

    .container h1{
    	position: absolute;
    	top:35px;
    	left:130px;
    	font-size: 25px;
    }
  
    .container .swiper-container {        
        top: 24%;}
   
    .header{   	   
   	    display: block;
    }

    .header img{
        position: absolute;
    	top:0px;
    	left:60px;  
    }

    .header h1{
    	position: absolute;
    	top:35px;
    	left:130px;
    	font-size: 25px;
    }

    .body{    	
    	display: block;
    	margin-top: 130px;
    	/*top: 130px;    	*/
    }
    .body h2{
    	font-size: 20px;
    }

    .footer{    	
    	display: block;
    }

}
