@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
	margin:0px;
	padding: 0;
}

html,body{
	height:100%;
	width: 100%;
}

section{
	height:100%;
	width: 100%;
}

.cover{
	position: relative;
	background: url("../img/wow-classic-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 0;
	width:100%;
	height:100%;
	overflow: hidden;	
}

#img-logo{	
	position: absolute;	
	right: 0;	
	margin-right: 35px;
	margin-top: 35px;
	height:auto;
	width: 450px;	
	transition: .5s;	
}

.cover h1{
	position: absolute;		
	font-size: 2.8em;
	font-family: poppins;
	top: 32%;	
	left:50%;
    transform: translate(-50%, 0);
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	transition: .5s;	
}

.cover h2{
	position: absolute;	
	font-size: 1.4em;
	font-family: poppins;
	top: 40%;
	left:50%;
    transform: translate(-50%, 0); 
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	transition: .5s;	
}

#container-classes{	
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, 0);
    transition: .5s;
}

#container-classes a:focus{
	outline:none;
}

.classes{
	position: relative;
	display: inline-block;
	width:128px;
	height:128px;
	border-radius: 65px;    
	margin:15px 15px;			
}

.classes p{
	display:none;
	font-weight: lighter;
	font-family: poppins;
	font-size: .9em;
	color: #fff;
	text-shadow: 1px 1px 1px #000000;
	background: rgba(0,0,0,.6);
}

#druid.classes:hover p,#hunter.classes:hover p,#mage.classes:hover p,#paladin.classes:hover p,#priest.classes:hover p,
#rogue.classes:hover p,#shaman.classes:hover p,#warlock.classes:hover p,#warrior.classes:hover p{
	position: absolute;
	display: inline;
	top:20%;
	left:80px;	
	padding: 8px;
	width:250px;
	border-radius: 10px;
	transform: rotate(45deg);	
	animation: anim 3.2s ease-in-out;
}

p span{
	 font-size: 1.6em;
	 font-weight: bolder;
	 border-bottom: solid .5px #fff;
}


#druid{background-image: url("../img/classes/druid-128.png");background-repeat: no-repeat;background-size: cover; transition: .5s;} 
#druid:hover{transform: rotate(-45deg);} 
#hunter{background-image: url("../img/classes/hunter-128.png");background-repeat: no-repeat;background-size: cover; transition: .5s;}
#hunter:hover{transform: rotate(-45deg);}
#mage{background-image: url("../img/classes/mage-128.png");background-repeat: no-repeat;background-size: cover; transition: .5s;}
#mage:hover{transform: rotate(-45deg);}
#paladin{background-image: url("../img/classes/paladin-128.png");background-repeat: no-repeat;background-size: cover; transition: .5s;}
#paladin:hover{transform: rotate(-45deg);}
#priest{background-image: url("../img/classes/priest-128.png");background-repeat: no-repeat;background-size: cover; transition: .5s;}
#priest:hover{transform: rotate(-45deg);}
#rogue{background-image: url("../img/classes/rogue-128.png");background-repeat: no-repeat;background-size: cover; transition: .5s;}
#rogue:hover{transform: rotate(-45deg);}
#shaman{background-image: url("../img/classes/shaman-128.png");background-repeat: no-repeat;background-size: cover; transition: .5s;}
#shaman:hover{transform: rotate(-45deg);}
#warlock{background-image: url("../img/classes/warlock-128.png");background-repeat: no-repeat;background-size: cover; transition: .5s;}
#warlock:hover{transform: rotate(-45deg);}
#warrior{background-image: url("../img/classes/warrior-128.png");background-repeat: no-repeat;background-size: cover; transition: .5s;}
#warrior:hover{transform: rotate(-45deg);}

@keyframes anim {
	0%{
        opacity: 0;
        left:50px;        
	}

	20%{
        opacity:1;
        left:80px;        
	}

	100%{
        opacity:1;
        left:80px;        
	}
}

@media only screen and (max-width: 1619px){
	#img-logo{	
	left: 50% !important;
	transform: translate(-50%, 0);}

	.cover h1{		
	font-size: 2.2em;
	top:33%;	
    }

    .cover h2{	    
	font-size: 1.1em;
	top: 40%; }

    .classes{    	
	width:96px;
	height:96px;	    
	margin:10px 10px; }	
}

@media only screen and (max-width: 1169px){
.cover h2{	    
	font-size: 1.1em;
	top: 50%; }

#container-classes{	    
    top: 55%; }
}

@media only screen and (max-width: 900px){
	#img-logo{	
	right: 50%;	
	width: 300px;
	height:auto; }

	.cover h1{		
	font-size: 1.1em;
	top:30%;	
    }

    .cover h2{	    
	font-size: .8em;
	top: 37%; }

	#container-classes{
	width:60%;
    top: 45%; }

    .classes{    	
	width:80px;
	height:80px;	    
	margin:3px 3px; }	
}