<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inicial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/dg's.css">
  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>Blackfathom Deeps</title>
</head>
<body>
 <section>

<div class="quests">
 <div class="quest_text">
 <ul>
  <li><span class="line1">[25] - [<a href="https://classic.wowhead.com/quest=6565/allegiance-to-the-old-gods">Allegiance to the Old Gods</a>]</span></li>  
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=12736">Je'neu Sancrea</a> em Ashenvale.</li>
  <li>Inicia com o drop do item:<a href="https://classic.wowhead.com/item=16790/damp-note"></a> do npc <a href="https://classic.wowhead.com/npc=4802"></a>.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[27] - [<a href="https://classic.wowhead.com/quest=6921/amongst-the-ruins">Amongst the Ruins</a>]</span></li>
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=12736">Je'neu Sancrea</a> em Ashenvale.</li>
  <li> - </li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[27] - [<a href="https://classic.wowhead.com/quest=1200/blackfathom-villainy">Blackfathom Villainy</a>]</span></li>
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=4787">Argent Guard Thaelrid</a> dentro da DG.</li>
 </ul>
</div>
<div class="horde_alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[23] - [<a href="https://classic.wowhead.com/quest=971/knowledge-in-the-deeps">Knowledge in the Deeps</a>]</span></li>
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=2786">Gerrig Bonegrip</a> em Ironforge.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[24] - [<a href="https://classic.wowhead.com/quest=1275/researching-the-corruption">Researching the Corruption</a>]</span></li>
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=8997">Gershala Nightwhisper</a> em Darkshore.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[22] - [<a href="https://classic.wowhead.com/quest=6563/the-essence-of-akumai">The Essence of Aku'Mai</a>]</span></li>
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=12736">Je'neu Sancrea</a> em Ashenvale.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">  
 <ul>
  <li><span class="line1">[24] - [<a href="https://classic.wowhead.com/quest=1199/twilight-falls">Twilight Falls</a>]</span></li>
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=4784">Agent Guard Manados</a> em Darnasus.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

 </section>	
</body>
</html>

<style>
  section {background: url("../../img/DG's/Blackfathom_Deeps_BG.jpg") 50% 50%/100% 100% no-repeat ;}
</style>