<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inicial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/dg's.css">
  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>Shadowfang Keep</title>
</head>
<body>
 <section>

<div class="quests">
 <div class="quest_text">
 <ul>
  <li><span class="line1">[27] - [<a href="https://classic.wowhead.com/quest=1014/arugal-must-die">Arugal Must Die</a>]</span></li>
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=1938">Dalar Dawnweaver</a> em Silverpine.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[25] - [<a href="https://classic.wowhead.com/quest=1098/deathstalkers-in-shadowfang">Deathstalkers in Shadowfang</a>]</span></li>
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=1952">High Executor Hadrec</a> em Silverpine.</li>  
 </ul>
</div>
<div class="horde_icon"></div>
</div>

<div class="quests">
<div class="quest_text">
 <ul>
  <li><span class="line1">[26] - [<a href="https://classic.wowhead.com/quest=1013/the-book-of-ur">The Book of Ur</a>]</span></li>
  <li>A missão inicia com <a href="https://classic.wowhead.com/npc=2934">Keeper Bel'dugur</a> em Silverpine.</li>
 </ul>
</div>
<div class="horde_icon"></div>
</div>
 </section>
</body>
</html>

<style>
  section {background: url("../../img/DG's/Shadowfang_Keep_BG.jpg") 50% 50%/100% 100% no-repeat ;}
</style>