<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inicial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/dg's.css">
  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>The Deadmines</title>
</head>
<body>
 <section>

<div class="quests">
 <div class="quest_text">
 <ul>
  <li><span class="line1">[22] - [<a href="https://pt.classic.wowhead.com/quest=65/the-defias-brotherhood">The Defias Brotherhood</a>]</span></li>
  <li>A missão faz parte de uma chain que inicia com <a href="https://pt.classic.wowhead.com/npc=234">Gryan Stoutmantle</a> em Westfall.</li>  
 </ul>
</div>
<div class="alliance_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[18] - [<a href="https://pt.classic.wowhead.com/quest=168/collecting-memories">Collecting Memories</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=656">Wilder Thistlenettle</a> em StormWind.</li>  
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[18] - [<a href="https://pt.classic.wowhead.com/quest=167/oh-brother">Oh Brother</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=656">Wilder Thistlenettle</a> em StormWind.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[18] - [<a href="https://pt.classic.wowhead.com/quest=2040/underground-assault">Underground Assault</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=6579">Shoni the Shilent</a> em StormWind.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[21] - [<a href="https://pt.classic.wowhead.com/quest=214/red-silk-bandanas">Red Silk Bandanas</a>]</span></li>
  <li>A missão faz parte de uma chain que inicia com <a href="https://pt.classic.wowhead.com/npc=820">Scout Riell</a> em Westfall.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

 </section>	
</body>
</html>

<style>
  section {background: url("../../img/DG's/The_Deadmines_BG.jpg") 50% 50%/100% 100% no-repeat ;}
</style>