<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inicial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/dg's.css">
  <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>
  <title>The Stokade</title>
</head>
<body>
<section>
<div class="header">
    <img src="../../img/DG's/Treasure_chest.png" alt="treasure chest">
          <ol>            
            <li>The Stockade (O Carcere)</li>            
          </ol>
</div>
<div class="right_side">
   <div class="rs_top">
     
   </div>
   <div class="rs_bottom">
     <ol>            
        <li><span>Nome:</span> The Stockade (O Carcere)</li>
        <li><span>Nível:</span> 21 - 27</li>
        <li><span>Local:</span> Reinos do Leste, VentoBravo.</li>
     </ol>
   </div>

</div>  

<div class="body">
<div class="quests">
 <div class="quest_text">
 <ul>  
  <li><span class="line1">[26] - [<a href="https://pt.classic.wowhead.com/quest=377/crime-and-punishment">Crime and Punishment</a>]</span></li>  
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=270">Councilman Millstipe</a> em Duskwood.</li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div> 

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[26] - [<a href="https://pt.classic.wowhead.com/quest=387/quell-the-uprising">Quell the Uprising</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=1719">Warden Thelwater</a> em StormWind.</li>  
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[26] - [<a href="https://pt.classic.wowhead.com/quest=388/the-color-of-blood">The Color of Blood</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=1721">Nikova Raskol</a> em Stormwind.</li>  
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[27] - <a href="https://pt.classic.wowhead.com/quest=378/the-fury-runs-deep">The Fury Runs Deep</a></span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=1074">Motley Thelwater</a> em StomWind.</li>
  <li>A missão faz parte de uma chain <a href="https://pt.classic.wowhead.com/quest=303/the-dark-iron-war">.</a></li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">	
 <ul>
  <li><span class="line1">[29] - <a href="https://pt.classic.wowhead.com/quest=391/the-stockade-riots">The Stockade Riots</a></span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=1719">Warden Thelwater</a> em StormWind.</li>
  <li>A chain inicia com drop de <a href="https://pt.classic.wowhead.com/item=2874/an-unsent-letter"></a> boss de Deadmines <a href="https://classic.wowhead.com/npc=639">Edwin Vancleef</a>.</a></li>
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

<div class="quests">
<div class="quest_text">
 <ul>
  <li><span class="line1">[25] - [<a href="https://pt.classic.wowhead.com/quest=386/what-comes-around">What Comes Arround</a>]</span></li>
  <li>A missão inicia com <a href="https://pt.classic.wowhead.com/npc=859">Guard Berton</a> em Redridge.</li>  
 </ul>
</div>
<div class="alliance_icon"></div>
</div>

 </section>	
</div>
</body>
</html>

<style>
   .right_side .rs_top{
    background: url("../../img/DG's/Maps/Eastern_Kingdoms_dg_entries.png") 100% 100%/100% 100% no-repeat;
   }
   .body{
    background: url("../../img/DG's/The_Stockade_BG.jpg") 50% 50%/160% 180% no-repeat;
   }  
</style>