<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/swiper.min.css">
    <script src="../lib/swiper.min.js"></script>
	<title>Sacerdote • WoW-Clássico</title>
</head>
<body>
	<div class="card" id="priest_card">
		  <div class="container"> 
            <img src="../img/classes/priest-128.png">
            <h1>Builds para Sacerdotes!</h1>
           <div class="swiper-container">
            <div class="swiper-wrapper">
               <div class="swiper-slide" style="background-image:url(../img/builds/priest-lvl.png)">
               	<p style="text-align: center;"><a class="link" href=
               		"https://pt.classic.wowhead.com/talent-calc/priest/05013213302--5002520103511051">Leveling</a></p></div>

               <div class="swiper-slide" style="background-image:url(../img/builds/priest-pvp.png)">
               	<p style="text-align: center;"><a class="link" href=
               		"https://pt.classic.wowhead.com/talent-calc/priest/50023212--0502325103511251">PVP</a></p></div>

               <div class="swiper-slide" style="background-image:url(../img/builds/priest-pve.png)">
               	<p style="text-align: center;"><a class="link" href=
               		"https://classic.wowhead.com/talent-calc/priest/5012301305001-025051031300055">PVE</a></p></div>
            </div>            
            </div>
          </div> 
		</div>
</body>
</html>

<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>