<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/swiper.min.css">
    <script src="../lib/swiper.min.js"></script>
	<title>Bruxo • WoW-Clássico</title>
</head>
<body>
	<div class="card" id="warlock_card">
		  <div class="container"> 
            <img src="../img/classes/warlock-128.png">
            <h1>Builds para Bruxos!</h1>
           <div class="swiper-container">
            <div class="swiper-wrapper">
               <div class="swiper-slide" style="background-image:url(../img/builds/warlock-lvl.png)">
               	<p style="text-align: center;"><a class="link" href=
               		"https://pt.classic.wowhead.com/talent-calc/warlock/55022032122010051-20403501005">Leveling</a></p></div>

               <div class="swiper-slide" style="background-image:url(../img/builds/warlock-pve.png)">
               	<p style="text-align: center;"><a class="link" href=
               		"https://classic.wowhead.com/talent-calc/warlock/25002-2050300142301-52500051020001">PVE</a></p></div>
                
               <div class="swiper-slide" style="background-image:url(../img/builds/warlock-pvp.png)">
               	<p style="text-align: center;"><a class="link" href=
               		"https://pt.classic.wowhead.com/talent-calc/warlock/25002500102--5050005102405151">PVP</a></p></div>              
            </div>            
            </div>
          </div> 
		</div>
</body>
</html>

<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>