<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inicial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/class.css">
	<link rel="stylesheet" href="../css/swiper.min.css">
    <script src="../lib/swiper.min.js"></script>
	<title>Guerreiro • WoW-Clássico</title>
</head>
<body>
	<div class="card" id="warrior_card">
		  <div class="container"> 
            <img src="../img/classes/warrior-128.png">
            <h1>Builds para Guerreiros!</h1>
            <div class="swiper-container">
            <div class="swiper-wrapper">
               <div class="swiper-slide" style="background-image:url(../img/builds/warrior-lvl-arms.png)">
               	<p style="text-align: center;"><a class="link" href=
                    "https://pt.classic.wowhead.com/talent-calc/warrior/023050213525100011-55000005005">Leveling arms</a></p></div>
                                      <!-- https://pt.classic.wowhead.com/guides/warrior-leveling-classic-wow#leveling-arms -->
                <div class="swiper-slide" style="background-image:url(../img/builds/warrior-lvl-fury.png)">
               	<p style="text-align: center;"><a class="link" href=
                    "https://pt.classic.wowhead.com/talent-calc/warrior/02305011332-55000135005010051">Leveling fury</a></p></div>
                                      <!-- https://pt.classic.wowhead.com/guides/warrior-leveling-classic-wow#leveling-arms -->
               <div class="swiper-slide" style="background-image:url(../img/builds/warrior-dps.png)">
               	<p style="text-align: center;"><a class="link" href=
               		"https://pt.classic.wowhead.com/talent-calc/warrior/30305001302-05050005525010051">Battle Shout Fury (PvE)</a></p></div>
                                      <!-- https://pt.classic.wowhead.com/fury-warrior-dps-beginners-guide-classic-wow -->
               <div class="swiper-slide" style="background-image:url(../img/builds/warrior-tank.png)">
               	<p style="text-align: center;"><a class="link" href=
                    "https://pt.classic.wowhead.com/talent-calc/warrior/15005001-05-50250113530201051">Low-Geared Deep Prot (TANK)</a></p></div>
                                      <!-- https://pt.classic.wowhead.com/guides/classic-warrior-pve-tanking -->
               <div class="swiper-slide" style="background-image:url(../img/builds/warrior-tank2.png)">
                <p style="text-align: center;"><a class="link" href=
                    "https://pt.classic.wowhead.com/talent-calc/warrior/03305001302-03-50250110530201051">Impale Prot (TANK)</a></p></div>
                                      <!-- https://pt.classic.wowhead.com/guides/classic-warrior-pve-tanking -->                       
               <div class="swiper-slide" style="background-image:url(../img/builds/warrior-pvp.png)">
               	<p style="text-align: center;"><a class="link" href=
                    "https://pt.classic.wowhead.com/talent-calc/warrior/023050213320105031-55000131005">Standard Arms PVP</a></p></div>
                                      <!-- https://pt.classic.wowhead.com/guides/fury-warrior-dps-pvp-classic-wow -->   
            </div>            
            </div>
          </div> 
		</div>
</body>
</html>

<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>